.nav {
  height: 100%;
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;

  &__links-container {
    display: none;
  }

  &__burger-container {
  }
}

@include media('>=screen-md') {
  .nav {
  }
}
