$primary-color: #112d4e;
$primary-color-light: #3f72af;
$secondary-color: #748da6;
$secondary-color-light: #9cb4cc;
$dark-green: #377d71;
$dark-blue: #495c83;
$light-blue: #dbe2ef;
$grey: #eaf6f6;
$black: #000000;
$black-body: #231f20;
$white: #fff;
$white-body: #f9f7f7;
